.version.contact /* version checker */
{
	color: #000000;
	background-color: #82F2F0;
}

.html
{
	background-color: #635E5C;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 442px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #635E5C;
	padding-bottom: 58px;
	margin-left: auto;
	margin-right: auto;
}

#pu227
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 35px;
	margin-left: -184px;
}

#u227
{
	z-index: 54;
	width: 501px;
	padding-bottom: 1px;
}

#u223
{
	z-index: 55;
	width: 501px;
	height: 3px;
}

#u224
{
	z-index: 56;
	width: 501px;
	height: 3px;
	margin-top: 8px;
}

#u225
{
	z-index: 57;
	width: 501px;
	height: 3px;
	margin-top: 8px;
}

#u226
{
	z-index: 58;
	width: 501px;
	height: 3px;
	margin-top: 7px;
}

#menuu200
{
	z-index: 11;
	width: 180px;
	margin-left: 233px;
	margin-top: 93px;
}

#u215
{
	width: 180px;
}

#u216
{
	width: 180px;
	padding-top: 9px;
	padding-bottom: 10px;
	margin-right: -10000px;
}

#u216:hover
{
	width: 180px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u216:active
{
	width: 180px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u219-4
{
	width: 180px;
	min-height: 17px;
}

#u216:hover #u219-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px;
}

#u216:active #u219-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px;
}

#u269
{
	width: 180px;
	padding-top: 9px;
	padding-bottom: 10px;
	margin-right: -10000px;
}

#u216.MuseMenuActive,#u269:hover
{
	width: 180px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u269:active
{
	width: 180px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u272-4
{
	width: 180px;
	min-height: 17px;
}

#u216.MuseMenuActive #u219-4,#u269:hover #u272-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px;
}

#u269:active #u272-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px;
}

#u202
{
	width: 180px;
	padding-top: 9px;
	padding-bottom: 10px;
	margin-right: -10000px;
}

#u269.MuseMenuActive,#u202:hover
{
	width: 180px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u202:active
{
	width: 180px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u205-4
{
	width: 180px;
	min-height: 34px;
}

#u202:hover #u205-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 180px;
	margin: 0px;
}

#u202:active #u205-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 180px;
	margin: 0px;
}

#u202.MuseMenuActive #u205-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 180px;
	margin: 0px;
}

#u295
{
	width: 180px;
	padding-top: 9px;
	padding-bottom: 10px;
	margin-right: -10000px;
}

#u202.MuseMenuActive,#u295:hover
{
	width: 180px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u295:active
{
	width: 180px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u297-4
{
	width: 180px;
	min-height: 17px;
}

#u269.MuseMenuActive #u272-4,#u295:hover #u297-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px;
}

#u295:active #u297-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px;
}

#u211
{
	width: 180px;
	padding-top: 9px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u295.MuseMenuActive,#u211:hover
{
	width: 180px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u211:active
{
	width: 180px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u212-4
{
	width: 180px;
	min-height: 17px;
}

#u295.MuseMenuActive #u297-4,#u211:hover #u212-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px;
}

#u211:active #u212-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px;
}

#u243
{
	width: 180px;
	padding-top: 9px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u211.MuseMenuActive,#u243:hover
{
	width: 180px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u243:active
{
	width: 180px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u246-4
{
	width: 180px;
	min-height: 17px;
}

#u211.MuseMenuActive #u212-4,#u243:hover #u246-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px;
}

#u243:active #u246-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px;
}

#u268,#u201,#u294,#u208,#u242,#u255
{
	width: 180px;
	margin-top: 2px;
}

#u258
{
	width: 180px;
	padding-top: 9px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u243.MuseMenuActive,#u258:hover
{
	width: 180px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u258:active
{
	width: 180px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u258.MuseMenuActive
{
	width: 180px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u259-4
{
	width: 180px;
	min-height: 17px;
}

#u243.MuseMenuActive #u246-4,#u258:hover #u259-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px;
}

#u258:active #u259-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px;
}

#u258.MuseMenuActive #u259-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 180px;
	margin: 0px;
}

#pu196-5
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 20px;
	margin-left: 323px;
}

#u196-5
{
	z-index: 2;
	margin-right: -10000px;
}

#u197-4
{
	z-index: 7;
	margin-right: -10000px;
	margin-top: 66px;
	left: 8px;
}

#u228
{
	z-index: 59;
	width: 501px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 35px;
	left: 643px;
}

#u232
{
	z-index: 60;
	width: 501px;
	height: 3px;
}

#u229
{
	z-index: 61;
	width: 501px;
	height: 3px;
	margin-top: 8px;
}

#u231
{
	z-index: 62;
	width: 501px;
	height: 3px;
	margin-top: 8px;
}

#u230
{
	z-index: 63;
	width: 501px;
	height: 3px;
	margin-top: 7px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

